@using MngVm.Models;
@model User
@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">

    <div class="col-sm-offset-3 col-sm-6">

        <div class="panel panel-primary mt-10">
            <div class="panel-heading text-center"><span>Change Password</span></div>
            <div class="panel-body">

                @using (Html.BeginForm("ChangePassword", "Admin", FormMethod.Post, new { @class = "form-horizontal", @id = "frmChangePass" }))
                {
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="email">User Name:</label>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control required", @readonly = true })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-4" for="email">New Password:</label>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(m => m.Password, new { @class = "form-control required", type = "password", maxlength = "50", placeholder = "Password" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="email">Confirm Password:</label>
                        <div class="col-sm-8">
                            @Html.TextBox("confPassword", null, new { @class = "form-control required", type = "password", maxlength = "50", placeholder = "Password" })
                        </div>
                    </div>
                    <div class="text-center">
                        <button id="chngpasBtn" class="btn btn-info">Change Password</button>
                    </div>
                }
            </div>
            <div class="panel-footer text-center">
                @ViewBag.Message
                <span id="message"></span>
            </div>
        </div>
    </div>
</div>
