<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
	<appSettings>
		<add key="webpages:Version" value="3.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
		<!-- Start: To Perform Azure VM Shutdown Process -->
		<add key="azvmVMLogSpreadSheetID" value="1Doq86OH2r5IfNl06LsrpBG8uEfIDuPSTaCUArtKo5LU" />
		<add key="azvmVMLogSheetName" value="Workspace Log" />
		<add key="azvmAutoShutTime" value="B1" />
		<!--in HH:mm-->
		<add key="azvmLastSheetUpdated" value="B2" />
		<add key="azvmResourceGroupColumn" value="A3" />
		<add key="azvmServerColumn" value="B3" />
		<add key="azvmUserActiveColumn" value="D3" />
		<add key="azvmUserActiveDateTimeColumn" value="E3" />
		<add key="azvmServerStatusColumn" value="F3" />
		<add key="azvmServerDateTimeColumn" value="G3" />
    <add key="azvmServerCPU1Column" value="H3" />
    <add key="azvmServerCPU2Column" value="I3" />
    <add key="azvmServerCPU3Column" value="J3" />
    <add key="azvmServerCPU4Column" value="K3" />
    <add key="azvmServerThisMonthCostColumn" value="L3" />
    <add key="azvmServerLastMonthCostColumn" value="M3" />
    <add key="azvmServerCostDiffColumn" value="N3" />
    <add key="azvmRowIndex" value="4" />
    <add key="azvmApiVersion" value="2019-11-01" />
    <!-- End: To Perform Azure VM Shutdown Process -->
		<!-- Start: Google Login and VM list through spreadsheet -->
		<add key="resourceGroupName" value="ADrG" />
		<add key="authurl" value="https://login.microsoftonline.com/{tenant_id}/oauth2/token" />
		<add key="externalRedirection" value="http://www.google.com" />
		<add key="profileUrl" value="https://www.googleapis.com/oauth2/v1/userinfo?alt=json" />
		<add key="googleoauthurl" value="https://accounts.google.com/o/oauth2/auth?" />
		<add key="api_key" value="AIzaSyC9nq-qmHCwugoUA20bUHmceu_TTQUjylU" />
		<add key="validurl" value="https://www.googleapis.com/oauth2/v1/tokeninfo?access_token=" />
		<add key="clientid" value="593037981743-remhdopgpho66mmggfuvudvl2d9sm90k.apps.googleusercontent.com" />
		<add key="redirectProd" value="http://www.work.organizedgains.com/Home/Success" />
		<add key="redirectLocal" value="https://localhost:44393/Home/Success" />
		<add key="secrete_key" value="g3To9L_jLwczcsY8D3_RwXQQ" />
		<add key="scope" value="https://www.googleapis.com/auth/userinfo.email" />
		<add key="adminUsers" value="nexthopiton@gmail.com" />
		<add key="gsvmSpreadSheetID" value="1E3PsxeWZT3QjzYC17-MKwLixY1DU-ZaSniTTeSosQN8" />
		<add key="gsvmSheetName" value="Sheet1" />
		<add key="gsvmEmailIdColumn" value="A1" />
		<add key="gsvmResourceGroupColumn" value="B1" />
		<add key="gsvmDefaultVMColumn" value="C1" />
		<add key="gsvmSplitChar" value="," />
		<add key="ldpIpAddress" value="localhost" />
		<add key="ldpOU" value="PROD,UAT" />
		<add key="ldpdomain1" value="og" />
		<add key="ldpdomain2" value="local" />
		<add key="ldpUsername" value="adadmin" />
		<add key="ldpPassword" value="Abc@1234" />


		<add key="PsAssignVm" value="C:\Development\MngVm\PoweshellScripts\AssignVm.ps1" />
		<add key="PsGetUsers" value="C:\Development\MngVm\PoweshellScripts\GetRdsUserNames.ps1" />
		<add key="PsGetVmHostPool" value="C:\Development\MngVm\PoweshellScripts\GetVms.ps1" />
		<add key="PsDeallocateVm" value="C:\Development\MngVm\PoweshellScripts\DeallocateVm.ps1" />
		
		<add key="PsTest" value="C:\Development\MngVm\PoweshellScripts\test.ps1" />
		<!-- End: Google Login and VM list through spreadsheet -->
		<add key="IsProduction" value="false" />
	</appSettings>
	<!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
	<system.web>
		<compilation debug="true" targetFramework="4.6" />
		<httpRuntime targetFramework="4.5" />
	</system.web>
	<system.webServer>
		<handlers>
			<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
			<remove name="OPTIONSVerbHandler" />
			<remove name="TRACEVerbHandler" />
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
		</handlers>
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
				<bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
				<bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>